$black:#000000;
//字体大小转换
@mixin fz($font-size) {
  font-size: $font-size;
  [data-dpr="2"] & {
      font-size: $font-size * 2;
  }
  [data-dpr="3"] & {
      font-size: $font-size * 3;
  }
}

//px转换rem
// @function px2rem($px, $base-font-size: 75px) {
//   @if (unitless($px)) {
//     @return px2rem($px + 0px); // That may fail.
//   }
//   @else if (unit($px)==em) {
//     @return $px;
//   }
//   @return ($px*2 / $base-font-size) * 1rem;
// }
@function px2rem($px, $base: 75) {
  @return ($px / $base) * 1rem;
}
