@import '../../../common/styles/styles.scss';
.test_classWrap{
  margin: 0 auto;
  text-align: center;
  span{
    display: inline-block;
  }
}
.test_class{
  width: px2rem(750);
  background: pink;
}